# Core Logic & I/O
numpy==1.26.3
scipy
python-dotenv
requests
loguru
tqdm
rich
pysrt
pydub

# Hardware Acceleration & Processing
torch
torchvision
torchaudio
opencv-python
moviepy
accelerate

# AI Voice & Dubbing
edge-tts
audiostretchy

# ASR (Speech to Text)
whisperx
funasr
transformers
modelscope

# GUI (Desktop App)
customtkinter
gradio

# Utils
yt-dlp
openai
translators
gdown
pyarrow
lightning
conformer
HyperPyYAML
librosa
WeTextProcessing
wget